.container {
    max-width: 1114px;
    margin: auto;
    overflow: hidden;
}

.heading {
    display: flex;
    justify-content: flex-end;
    margin-bottom: 100px;
}

.heading > h2 {
    margin: 0;
    font-size: 16px;
    margin-right: 1rem;
    text-transform: lowercase;
    font-weight: 400;
}

.heading > button {
    border: none;
    background-color: transparent;
    background-image: url('./refresh.svg');
    background-repeat: no-repeat;
    background-position: 50%;
    width: 14px;
    cursor: pointer;
    color: transparent;
}

.heading > button:focus {
    outline: none;
}

.author-btn > button {
    padding: 1rem;
    padding-right: 5rem;
    padding-left: 0;
}

.quote {
    margin-bottom: 100px;
}